name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk/svg-only@v3
        id: snake
        with:
          github_user_name: saismrutiranjan18
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg

      - name: Upload animation
        uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist
